        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            width: 100%;
            height: 100%;
            background-color: black;
            display: flex;
            justify-content: center;
            font-family: 'Courier New', Courier, monospace;

        }

        header {
            width: 100%;
            height: 100px;
            background-color: rgb(57, 65, 65);
            border-radius: 13px;
            padding: 16px;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        input {
            width: 100%;
            padding: 0.4rem;
            border-radius: 10px;
            font-weight: 600;
        }

        button {
            padding: 0.5rem;
            border-radius: 10px;
            margin-top: 5px;
            background-color: rgb(0, 203, 135);
            font-weight: bold;
        }

        #taskBox {
            width: 30rem;
            height: 500px;
            border-radius: 13px;
            font-size: 20px;
            background-color: rgb(93, 45, 45);
            color: white;
            font-weight: bolder;
        }

        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }


        #calculateDiv {
            width: 220px;
            height: 200px;
            background-color: antiquewhite;
            border-radius: 13px;
            padding: 0.5rem;
            margin-top: 10px;
        }